<link rel="stylesheet" href="/home.css">
<title>Easy Job Search</title>
<main>
    <!-- This is Middle Section -->
    <section id="middle">
        <p class="mh"> A comprehensive platform for <br> reliable<p>
            <p class="rep"> job opportunities and internships. </p>
            <p class="ff"> Get Discovered. Get Hired</p>
            <button type="button" class="iaJ"> I'm a Job Seeker</button>
            <button type="button" id="iaR"> I'm a Recruiter</button>

    </section>

    <!-- Diagonal Bars Section -->

    <section id="diagonalBars">
        <div class="rec1">
           
        </div>
        <div class="rec2">
           
        </div>

        <div class="dia1">

        </div>
        <div class="dia2">

        </div>

        <div class="dia3">

        </div>

        <div class="dia4">

        </div>

    </section>

    <!-- Photo Resume Section  -->

    <section id="photo">
        <div class="nn">
            <div class="cir"> </div>
            <div class="cir1"> </div>
            <div class="cir2"> </div>

        </div>
        <img src="./photo/bar.png" alt="Girl" class="barCh">
        <div class="cicle">
            <img src="./photo/rgRem.png" alt="Girl" class="girl-photo">
        </div>
        <div id="resP"> <i class="fa-solid fa-play"></i>
        </div>

        <div class="sc">
            <div class="sl"></div>
            <div class="slider-dot"></div>
        </div>

        <div class="sc" style="top: 50%;">
            <div class="sl1"></div>
            <div class="slider-dot"></div>
        </div>

        <div class="sc" style="top: 45%">
            <div class="sl2"></div>
            <div class="slider-dot"></div>
        </div>

            <img src="./photo/em1.jpg" alt="Linker" class="linker" >
        

        <p> Kohaku </p>
        <div class="line"> </div>
        <div class="line1"> </div>
        <div class="iconic">
            <div class="icon-circle">
                <span class="material-symbols-outlined">
                    mic
                    </span>
            </div>
            <div class="ov">
                <span class="material-symbols-outlined">
                    call_end
                    </span>
            </div>
            <div class="icon-circle2">
                <span class="material-symbols-outlined">
                    videocam
                    </span>
            </div>

        </div>

    </section>
</main>

<!-- Registration Login Modal Pop-up -->

<div id="registerModal" class="modal">
    <div class="modal-content">
        <div id="abc">
      <p>Experience easily!</p>
      <span class="close">&times;</span>
        </div>

      <form action="/registerSuccess" method="POST">
        <div class="mkl">
            <label class="nBox">Name</label>
            <input type="text" class="iBox" name="name" placeholder="Enter your name" required>
        </div>

        <div class="mkl">
            <label class="nBox">Email</label>
            <input type="text" class="iBox" name="email" placeholder="Enter your E-mail" required>
        </div>

        <div class="mkl">
            <label class="nBox">Password</label>
            <input type="password" class="iBox" name="password" placeholder="Enter your password" required>
        </div>

        <button type="submit" class="register-btn">Register</button>
      </form>
      <div class="modal-footer">
        <p>Already registered? <button type="button" class="login-btn">Login</button></p>
        <div id="bun">
            <img src="./photo/fcco.png" alt="Iconical" class="ico">
            <img src="./photo/wha.jpg" alt="Iconical" class="ico">
            <img src="./photo/xer1.png" alt="Iconical" class="ico">
            <img src="./photo/lino.png" alt="Iconical" class="ico">

        </div>
      </div>
    </div>
  </div>

  <!-- Login Modal Below Login Modal Below -->

  <div id="loginModal" class="modal">
    <div class="modal-content">
        <div id="loginHeader">
            <p>Login to Your Account</p>
            <span class="kloso">&times;</span>
        </div>
        
        <form action="/login" method="POST">
            <div class="fp">
                <label class="nBox">Email</label>
                <input type="email" class="iBox" name="email2" placeholder="Enter your email" required>
            </div>

            <div class="fp">
                <label class="nBox">Password</label>
                <input type="password" class="iBox" name="password2" placeholder="Enter your password" required>
            </div>

            <button type="submit" class="logig">Enter</button>
        </form>
    </div>
</div>

<script src="/home.js"> </script>

